.ly_main {
  .ly_front {
    @include resBgi('../public/images/section1bgi.png');
    position: relative;
    &Inner {
      @include inner;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      h1 {
        @include resfz(72, 50);
        margin-bottom: 10px;
      }
      p {
        @include resfz(30, 18);
        margin-bottom: 30px;
      }
      a {
        @include resfz(48, 20);
        color: #fff;
        line-height: 110px;
        display: inline-block;
        width: 280px;
        height: 110px;
        margin-bottom: 10px;
        border: none;
        border-radius: 40px;
        background: #eec16a;
        cursor: pointer;
      }
    }
  }
}
